<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Thyroid Disease Detection System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

<div class="auth-box">

    
    <h2>Thyroid Disease Detection System</h2>

    <p>Secure Login Portal</p>

    {% if error %}
        <div class="error">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">

        <input
            type="text"
            name="username"
            placeholder="Enter Username"
            required
        >

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <a href="/register">
        Don't have an account? Register Here
    </a>

</div>

</body>
</html>